@model IEnumerable<Bookish.Models.Book>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>

<p>
    @Html.ActionLink("New Book", "New", "Books", new { @class = "btn btn-primary" })
</p>
<table id="books" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Book</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $('#books').DataTable({
                ajax: {
                    url: "/api/books",
                    dataSrc: ""
                },

                columns: [
                    {
                        data: "name",
                        render: function (data, type, book) {
                            return "<a href='/books/edit/" + book.id + "'>" + book.name + "</a>";
                        }
                    },
                    {
                        data: "genre.genreType"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-book-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#books").on("click",
                ".js-delete",
                function () {
                    var button = $(this);

                    bootbox.confirm("Are you sure you want to delete this book?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/books/" + button.attr("data-book-id"),
                                    method: "DELETE",
                                    success: function () {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}

